/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    Buttons
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

html body,
html body .wpb_content_element {

    // Button Base Styles
    .cta-primary,
    .cta-secondary,
    .cta-primary.nectar-button,
    .cta-secondary.nectar-button,
    .nectar-button,
    .wpcf7 form.wpcf7-form .wpcf7-submit[type="submit"] {
        font-size       : $button-font-size !important;
        font-weight     : $button-font-weight !important;
        padding         : $button-padding !important;
        text-transform  : $button-text-transform !important;
        letter-spacing  : $button-letter-spacing !important;
        border-radius   : $button-border-radius !important; 
        cursor          : pointer !important;
        overflow        : visible !important;
        white-space     : normal !important;
        text-align      : center !important;

        span {
            font-size   : $button-font-size !important;
            font-weight : $button-font-weight !important;
        }
    }

    // Primary Button
    .cta-primary,
    .cta-primary.nectar-button {
        @include lh-transition;
        margin-bottom: 0 !important;
        line-height: 46px;
        border: 2px solid $purple;
        background-color: $purple;
        color: $button-color !important;

        &:hover {
            border: 2px solid rgba(111,87,164, 0.85) !important;
            background-color: rgba(111,87,164, 0.85) !important;
        }
        &:disabled {
            cursor: not-allowed;
        }
    }

    // Secondary Buttons
    .cta-secondary,
    .nectar-button.cta-secondary {
        @include lh-transition;
        color:  $button-ghost-color;
        position: relative !important;
        line-height: 36px !important;
        background-color: rgba(0,0,0,0) !important;
        border: none !important;
        outline: none !important;

        &::before {
            @include lh-transition;
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $purple;
            visibility: hidden;
            transform: scaleX(0);    
        }

        &:hover {
            color: $button-ghost-color !important;
        }

        &:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }

    @media screen and (max-width: 827px) {
        .cta-primary,
        .nectar-button.cta-primary {
            width: 80% !important;
        }
    }

    @media screen and (max-width: 667px) {
        .cta-primary,
        .nectar-button.cta-primary {
            width: 100% !important;
        }
    }
}